.main-container{
    padding: 2rem;

    .form-group{
        margin-top: 1rem;
    }

    .btn{
        margin-top: 1rem;
    }

    .alert{
        margin-top: 1rem;
    }
    .checking{
        margin-top: 1rem;
    }
}